.banner__slogan {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.banner__slogan-item {
    flex-basis: 100%;
    flex-grow: 1;
    font-family: 'Source Sans Pro', sans-serif;
}



.banner__slogan--header {
    font-size: 55px;
    color: #212c31;
    margin: 20px 0 30px;
    text-align: center;

}

@media (max-width: 991px) {
    .banner__slogan--header {
        font-size: 30px;
        margin: 2vh 2vh 1vh;
    }
}

.banner__slogan--different {
    color: #fb414e;
    text-transform: capitalize;
}

.banner__slogan--text,
.banner__slogan--word {
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 0 12vw;
    font-size: 16px;
    color: #a5a5a5;
    line-height: 1.5;
}

@media (max-width: 991px) {
    .banner__slogan--text {
        margin: 0 30px;
    }
}

.banner__slogan--word {
    text-transform: uppercase;
    color: #fb414e;
    font-weight: 900;
}