.container {
    width: 90vw;
    margin: auto;
    max-width: 100%;
    padding: 50px;
}


@media (max-width: 991px) {
    .container {
        padding: 15px;
    }
}



/* .container--changes {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
} */

@media (max-width: 991px) {
    .container--mobile {
        width: 100%;
        padding: 0px;
        /* overflow: hidden; */

    }
}

.container--different {
    margin-top: 10vh;
    margin-bottom: 10vh;


}

@media (max-width: 991px) {
    .container--different {
        margin-top: 10vh;
        margin-bottom: 5vh;
        padding: 0;

    }
}