.contact {
    display: flex;

}

@media (max-width: 991px) {
    .contact {
        flex-wrap: wrap;
    }
}

.contact__slogan {
    flex-basis: 50%;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
}



@media (max-width: 991px) {
    .contact__slogan {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: -60px;
    }
}

.contact-form {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;

}

@media (max-width: 991px) {
    .contact-form {
        flex-basis: 100%;
    }
}

.contact__slogan-text,
.contact__slogan-topic {
    width: 100%;
    text-align: right;
    line-height: 1.5;
    color: #333333;
}

@media (max-width: 991px) {

    .contact__slogan-text {
        text-align: center;
        margin: 20px 0;
    }
}

.contact__slogan-text {
    font-weight: 300;

}

.contact__slogan-topic {
    font-size: 42px;

}

@media (max-width: 991px) {
    .contact__slogan-topic {
        font-size: 33px;
        text-align: center;

    }
}

.contact-form__fields {
    --gap: 16px;
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--gap) / -2);
}

.contact-form__field {
    width: calc(50% - var(--gap));
    margin: calc(var(--gap) / 2);
    background: transparent;
    border: 1px solid #d9d9d9;
    color: #333333;
    padding: 12px;
}

@media (max-width: 991px) {
    .contact-form__field {
        width: calc(100% - var(--gap));
    }
}

.contact-form__field--full-row {
    width: calc(100% - var(--gap));

}


.contact__form-label {

    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 8px;
}


.contact-form__submit-button {
    display: block;
    width: 100%;
    border: none;
    background: #fb414e;
    color: white;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}