.main-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vw;

}

.main-navigation__logo {
    flex-grow: 2;
}

.main-navigation__menu {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;

}

.main-navigation__link {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
}

.main-navigation__link:hover {
    border-bottom: 1px solid white;
}

@media (max-width: 991px) {
    .main-navigation {
        position: relative;
        background: #333333;
        height: 20vh;

    }

    .main-navigation__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 100vh;



    }

    .main-navigation__link {
        color: #c7c7c7;
    }


}

.main-navigation__mobile-button {
    display: none;
}

.main-navigation__menu-item--mobile {
    display: none;
}

@media (max-width: 991px) {
    .main-navigation__mobile-button {
        display: unset;
        background: none;
        border: none
    }

    .main-navigation__menu-item--mobile {
        display: unset;


    }

    .main-navigation__link-back {
        display: flex;
    }

    .main-navigation__link {
        padding: 3vh 90vw 3vh 6vw;
    }

    .main-navigation__menu-item--mobile-image {
        display: flex;
        width: 20vw;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-right: 1px solid #c7c7c7;
    }

    .main-navigation__back-link {
        color: #c7c7c7;
        text-decoration: none;
        padding: 3vh 50vw 3vh 30vw;

    }

    .main-navigation__menu-item {
        height: 10vh;
        border-bottom: 1px solid #c7c7c7;
        display: flex;
        align-items: center;

    }




    .main-navigation__mobile-button-image {
        width: 25px;
        display: block;
        position: absolute;
        bottom: 2vh;
        right: 2vh;
        z-index: 3;
    }






    .main-navigation__menu {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: white;
        flex-direction: column;
        justify-content: stretch;
        text-align: left;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
        transition-property: all;
        transform: translateY(-50%);
        z-index: 2;

    }



    .main-navigation__menu--open {
        opacity: 1;
        pointer-events: unset;
        transform: unset;
    }
}