.main-banner {
    position: relative;
    background-image: url("../images/background.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    max-width: 100%;


}


.main-banner__slogan {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: capitalize;

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .main-banner__slogan {
        margin-top: 150px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    .main-banner__slogan {
        margin-top: 200px;
    }
}

.main-banner__slogan-header {
    font-size: 45px;
    margin-bottom: 5vh;

}

@media (max-width: 991px) {
    .main-banner__slogan-header {
        font-size: 20px;
        margin-top: 5vh;
    }
}

.main-banner__slogan-text {
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 0 15vw;
    font-size: 16px;
}

@media (max-width: 991px) {
    .main-banner__slogan-text {
        margin: 0 3vw;

    }
}


.main-banner__button {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    margin-right: 0;
    margin-left: 3vw;
}

.main-banner__button-start,
.main-banner__button-service {
    width: 170px;
    height: 50px;
    background: #fb414e;
    text-decoration: none;
    color: white;
    line-height: 50px;
    margin-right: 3vw;
    font-weight: bold;
    border: 2px solid #fb414e;
    z-index: 1;
}


.main-banner__button-service {
    background: transparent;
    border: 2px solid #fb414e;

}

.main-banner__button-start:hover {
    background: transparent;
}

.main-banner__button-service:hover {
    background: #fb414e;
    border: 2px solid #fb414e;
}