.strategy {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .strategy {
        margin-top: 300px;
    }
}

/* @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    .strategy {
        margin-top: 200px;
    }
} */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    .strategy {
        margin-top: -5vw;
    }
}

@media (max-width: 991px) {
    .strategy {
        flex-wrap: wrap;
        margin-top: 10vh;
    }
}

@media (max-device-width: 568px) and (orientation: landscape) {
    .strategy {
        margin-top: 0;
    }
}



.strategy__item {
    border: border-box;
    flex-basis: 30%;
    height: 400px;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 30px;
    position: relative;
    line-height: 1.7;

}

@media (max-width: 991px) {
    .strategy__item {
        flex-basis: 44%;
        min-width: 90vw;
        height: 400px;
        margin-bottom: 10px;
    }
}


.strategy__item--color {
    background-color: #fb414e;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}



.strategy__item-topic,
.strategy__item-text {
    height: 20%;
    font-weight: 400;

}

.strategy__item-topic {
    text-transform: capitalize;
}

.strategy__item-image {
    height: 15%;
    margin-bottom: 20px;
}



.strategy__item-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 200;
}

.strategy__item-topic::after {
    content: "";
    height: 2px;
    width: 43px;
    background-color: white;
    position: absolute;
    top: 54%;
    left: 30px;

}